<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>FaceMocap</string>
    <key>CFBundleIdentifier</key>
    <string>com.yimisheng.facemocap.test0428</string>
    <key>CFBundleName</key>
    <string>FaceMocap</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>FaceMocap 需要摄像头进行面部追踪，以驱动虚拟人表情。</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>FaceMocap 需要本地网络连接，将面部数据发送到 Mac 上的虚拟人渲染服务。</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
